<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-on-annotation:war exploded">
    <output-path>$PROJECT_DIR$/spring-on-annotation/target/spring-on-annotation</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>spring-on-annotation</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-on-annotation" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-catalina:8.0.41" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-servlet-api:8.0.41" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-jsp-api:8.0.41" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-el-api:8.0.41" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-juli:8.0.41" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-annotations-api:8.0.41" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-api:8.0.41" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-jni:8.0.41" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-coyote:8.0.41" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-util:8.0.41" />
          <element id="library" level="project" name="Maven: org.apache.tomcat:tomcat-util-scan:8.0.41" />
          <element id="library" level="project" name="Maven: org.apache.tomcat.embed:tomcat-embed-jasper:8.0.41" />
          <element id="library" level="project" name="Maven: org.apache.tomcat.embed:tomcat-embed-core:8.0.41" />
          <element id="library" level="project" name="Maven: org.apache.tomcat.embed:tomcat-embed-el:8.0.41" />
          <element id="library" level="project" name="Maven: org.eclipse.jdt.core.compiler:ecj:4.5.1" />
          <element id="library" level="project" name="Maven: com.alibaba:fastjson:1.2.62" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring-on-annotation/target/spring-on-annotation/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-on-annotation/web/Web" />
    </root>
  </artifact>
</component>